body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

img {
    width: 250px;
    border-radius: 10px;
    transition: 0.3s;
}

img:hover {
    transform: scale(1.05);
}