<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ app_name }}{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav class="navbar">
    <a href="/" class="brand">{{ app_name }}</a>

    <ul class="nav-links">
        <li><a href="/">Главная</a></li>
        <li><a href="/stats">Статистика</a></li>
        <li><a href="/xss-demo">XSS Demo</a></li>
    </ul>
</nav>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, msg in messages %}
            <div class="flash flash-{{ category }}">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<main class="container">
    {% block content %}
    {% endblock %}
</main>

<footer class="footer">
    Finance Tracker · Практическая работа Flask
</footer>

</body>
</html>